<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CM-UA | Santiago</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/datepicker3.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/classes.js"></script>
	<script src="js/globals.js"></script>
	<script src="js/loadProfileAndGraphs.js"></script>
	<script src="js/alarmes_universais.js"></script>

</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Campus Monitoring</span> @ UA</a>
				<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em class="fa fa-envelope"></em><span class="label label-danger">15</span>
					</a>
					</li>
					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em class="fa fa-bell"></em><span class="label label-info">5</span>
					</a>
					</li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="pictures/avatar.png" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name" id="nomeUser">Jorge Ribeiro</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="parent active"><a data-toggle="collapse" href="#espacosDropdown">
				<em class="fa fa-building">&nbsp;</em> Espaços <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
			</a>
				<ul class="children collapse" id="espacosDropdown">
					<li><a class="active" href="#">
						<span class="fa fa-dashboard">&nbsp;</span> Refeitório de Santiago
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-dashboard">&nbsp;</span> Refeitório do Crasto
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-dashboard">&nbsp;</span> Refeitório da ESTGA
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-dashboard">&nbsp;</span> Snack-Bar / Self-service
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-dashboard">&nbsp;</span> Cafetaria da ESAN
					</a></li>
				</ul>
			</li>
			<li class="" id="paginaReviews"><a href="reviews.html"><em class="fa fa-comments">&nbsp;</em> Comentários</a></li>
			<li class="" id="paginaHistorico"><a href="historico.html"><em class="fa fa-history">&nbsp;</em> Histórico de Registos</a></li>
			<li id="paginaReports"><a href="reports.html"><em class="fa fa-file-text">&nbsp;</em> Estatísticas de Desempenho</a></li>
			<li><a href="#"><em class="fa fa-bell">&nbsp;</em> Os meus alertas</a></li>
			<li class=""><a href="#"><em class="fa fa-user">&nbsp;</em> Perfil</a></li>
			<li><a href="index.html"><em class="fa fa-power-off">&nbsp;</em> Sair</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" >
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active" id="breadCrumbEspaco">Refeitório de Santiago</li>
			</ol>
		</div><!--/.row-->



		<!-- Cabeçalho -->
		<div class="row">
			<div class="col-lg-8">
				<h1 class="page-header" id="headerEspaco">Refeitório de Santiago</h1>
			</div>
		</div><!--/.row-->

		<!-- GRAFICOS -->
		<div class="col-lg-9">
			<!-- LINHA TEMPERATURA -->
			<div class="row">
				<div class="col-xs-4 col-md-3 col-lg-3">
					<div class="panel panel-default">
						<div class="panel-body easypiechart-panel">
							<h4>Temperatura (ºC)</h4>
							<div class="easypiechart" id="easypiechart-red" data-percent=40 ><span class="percent">15.75</span></div>
						</div>
					</div>
				</div>
				<div class="col-xs-8 col-md-9 col-lg-9">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="canvas-wrapper">
								<canvas class="main-chart" id="line-chart" height="250" width="1000"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div><!--/.row-->

			<!-- LINHA HUMIDADE -->
			<div class="row">
				<div class="col-xs-4 col-md-3 col-lg-3">
					<div class="panel panel-default">
						<div class="panel-body easypiechart-panel">
							<h4>Humidade (%)</h4>
							<div class="easypiechart" id="easypiechart-blue" data-percent=65 ><span class="percent">65%</span></div>
						</div>
					</div>
				</div>
				<div class="col-xs-8 col-md-9 col-lg-9">
					<div class="panel panel-default">

						<div class="panel-body">
							<div class="canvas-wrapper">
								<canvas class="main-chart" id="line-chart-2" height="250" width="1000"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div><!--/.row-->

			<!-- LINHA CO2 -->

			<div class="row">
				<div class="col-xs-4 col-md-3 col-lg-3">
					<div class="panel panel-default">
						<div class="panel-body easypiechart-panel">
							<h4>CO<sub>2</sub> (ppm)</h4>
							<div class="easypiechart" id="easypiechart-orange" data-percent=60 ><span class="percent">1102</span></div>
						</div>
					</div>
				</div>
				<div class="col-xs-8 col-md-9 col-lg-9">
					<div class="panel panel-default">

						<div class="panel-body">
							<div class="canvas-wrapper">
								<canvas class="main-chart" id="line-chart-3" height="250" width="1000"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div><!--/.row-->
		</div>

		<div class="col-lg-3" >
			<!-- LINHA ALERTAS -->
			<div class="row">

				<div class="" >
					<div class="panel panel-default chat">
						<div class="panel-heading">
							Alertas
							<ul class="pull-right panel-settings panel-button-tab-right">
								<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
									<em class="fa fa-cogs"></em>
								</a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li>
											<ul class="dropdown-settings">
												<li><a href="#">
													<em class="fa fa-bell-slash"></em> Silenciar alertas
												</a></li>
												<!-- <li class="divider"></li> -->

											</ul>
										</li>
									</ul>
								</li>
							</ul>
							<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
						<div class="panel-body" style="height: 675px">
							<ul id="listaAlarmes">
								<li class="left clearfix"><span class="pull-left" style="text-align: center">
								<i class="fa fa-thermometer-three-quarters alerta-temperatura"></i>
								</span>
									<div class="chat-body clearfix">
										<div class="header"><strong class="primary-font">13h38</strong></div>
										<p>Tempertura acima de 35 ºC</p>
									</div>
								</li>
								<li class="left clearfix"><span class="pull-left" style="text-align: center">
								<i class="fa fa-tint alerta-humidade"></i>
								</span>
									<div class="chat-body clearfix">
										<div class="header"><strong class="primary-font">13h33</strong></div>
										<p>Humidade acima do normal.</p>
									</div>
								</li>
								<li class="left clearfix"><span class="pull-left" style="text-align: center">
								<i class="fa fa-tint alerta-humidade"></i>
								</span>
									<div class="chat-body clearfix">
										<div class="header"><strong class="primary-font">13h30</strong></div>
										<p>Humidade acima do normal.</p>
									</div>
								</li>
								<li class="left clearfix"><span class="pull-left" style="text-align: center">
								<i class="fa fa-cloud alerta-co2"></i>
								</span>
									<div class="chat-body clearfix">
										<div class="header"><strong class="primary-font">13h22</strong></div>
										<p>Níveis de CO<sub>2</sub> elevados.</p>
									</div>
								</li>
								<li class="left clearfix"><span class="pull-left" style="text-align: center">
								<i class="fa fa-thermometer-full alerta-temperatura"></i>
								</span>
									<div class="chat-body clearfix">
										<div class="header"><strong class="primary-font">13h12</strong></div>
										<p>Temperatura acima de 40 ºC</p>
									</div>
								</li>
								<li class="left clearfix"><span class="pull-left" style="text-align: center">
								<i class="fa fa-bolt alerta-eletricidade"></i>
								</span>
									<div class="chat-body clearfix">
										<div class="header"><strong class="primary-font">12h56</strong></div>
										<p>Apagão (ver quadro elétrico).</p>
									</div>
								</li>
								<li class="left clearfix"><span class="pull-left" style="text-align: center">
								<i class="fa fa-thermometer-full alerta-temperatura"></i>
								</span>
									<div class="chat-body clearfix">
										<div class="header"><strong class="primary-font">12h43</strong></div>
										<p>Tempertura cima de 35 ºC</p>
									</div>
								</li>
								<li class="left clearfix"><span class="pull-left" style="text-align: center">
								<i class="fa fa-tint alerta-humidade"></i>
								</span>
									<div class="chat-body clearfix">
										<div class="header"><strong class="primary-font">12h31</strong></div>
										<p>Humidade acima do normal.</p>
									</div>
								</li>
								<li class="left clearfix"><span class="pull-left" style="text-align: center">
								<i class="fa fa-tint alerta-humidade"></i>
								</span>
									<div class="chat-body clearfix">
										<div class="header"><strong class="primary-font">12h38</strong></div>
										<p>Humidade acima do normal.</p>
									</div>
								</li>
								<li class="left clearfix"><span class="pull-left" style="text-align: center">
								<i class="fa fa-cloud alerta-co2"></i>
								</span>
									<div class="chat-body clearfix">
										<div class="header"><strong class="primary-font">12h08</strong></div>
										<p>Níveis de CO<sub>2</sub> elevados.</p>
									</div>
								</li>
								<li class="left clearfix"><span class="pull-left" style="text-align: center">
								<i class="fa fa-cloud alerta-co2"></i>
								</span>
									<div class="chat-body clearfix">
										<div class="header"><strong class="primary-font">11h59</strong></div>
										<p>Níveis de CO<sub>2</sub> elevados.</p>
									</div>
								</li>
							</ul>
						</div>

						</div>
					</div>

				</div><!--/.col-->


			</div><!--/.row-->
		</div>


		<!-- PAINEIS VALORES -->
		


	<div class="col-sm-12 col-lg-12">
		<p class="back-link">Lumino Theme by <a href="https://www.medialoot.com">Medialoot</a></p>
	</div>


	</div>	<!--/.main-->
	
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data-graficos.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/custom.js"></script>

	<script src="js/graficos_readings.js"></script>

		
</body>
</html>