<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CM-UA | Histórico de Registos</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/datepicker3.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/classes.js"></script>
	<script src="js/globals.js"></script>
	<script src="js/preencher_historico.js"></script>
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Campus Monitoring</span> @ UA</a>
				<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em class="fa fa-envelope"></em><span class="label label-danger">15</span>
					</a>
					</li>
					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em class="fa fa-bell"></em><span class="label label-info">5</span>
					</a>
					</li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="pictures/avatar.png" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name" id="nomeUser">Jorge Ribeiro</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="parent "><a data-toggle="collapse" href="#espacosDropdown">
				<em class="fa fa-building">&nbsp;</em> Espaços  <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
			</a>
				<ul class="children collapse" id="espacosDropdown">
					<li><a class="" href="board_santiago_admin.html">
						<span class="fa fa-dashboard">&nbsp;</span> Refeitório de Santiago
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-dashboard">&nbsp;</span> Refeitório do Crasto
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-dashboard">&nbsp;</span> Refeitório da ESTGA
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-dashboard">&nbsp;</span> Snack-Bar / Self-service
					</a></li>
					<li><a class="" href="index.html">
						<span class="fa fa-dashboard">&nbsp;</span> Cafetaria da ESAN
					</a></li>
				</ul>
			</li>
			<li class="" id="paginaReviews"><a href="reviews.html"><em class="fa fa-comments">&nbsp;</em> Comentários</a></li>
			<li class="active" id="paginaHistorico"><a href="#"><em class="fa fa-history">&nbsp;</em> Histórico de Registos</a></li>
			<li id="paginaReports"><a href="reports.html"><em class="fa fa-file-text">&nbsp;</em> Estatísticas de Desempenho</a></li>
			<li><a href="#"><em class="fa fa-bell"></em> Os meus alertas</a></li>
			<li class=""><a href="#"><em class="fa fa-user">&nbsp;</em> Perfil</a></li>
			<li><a href="index.html"><em class="fa fa-power-off">&nbsp;</em> Sair</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Histórico</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Histórico</h1>
			</div>
		</div><!--/.row-->


		<div class="row">

			<div class="col-md-4">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">Espaços </div>
					<div class="panel-body">
						<form role="form">
							<fieldset>
								<div class="form-group">
									<label>Selecione o espaço sobre o qual pretende visualizar dados:</label>
									<select class="form-control" id="selectEspaco">
										<option value="Refeitório de Santiago">Refeitório de Santiago</option>
										<option value="Refeitório do Crasto">Refeitório do Crasto</option>
										<option value="Refeitório da ESTGA">Refeitório da ESTGA</option>
										<option value="Snack-Bar / Self-Service">Snack-Bar / Self-Service</option>
										<option value="Cafetaria da ESAN">Cafetaria da ESAN</option>
									</select>
								</div>
								</fieldset>
						</form>
					</div>
				</div>
			</div><!-- /.col-->

			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						Calendário
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<ul class="dropdown-settings">
											<li><a href="#">
												<em class="fa fa-calendar-check-o"></em> Ir para hoje
											</a></li>

										</ul>
									</li>
								</ul>
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div style="height: available">
							<div class="input-group date" data-provide="datepicker" id="calendario">
								<input type="text" class="form-control" id="inputCalendario">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--/.col-->


		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default chat">
					<div class="panel-heading" >
						<div id="nomeEspacoTabela" class="pull-left">Registos (Novembro, 2019)</div>
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="panel-button-tab-right"><a class="pull-right"  href="#" onclick="verMesTodo()">
								<em class="fa fa-list-alt"></em>
							</a>

							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
					</div>
					<div class="panel-body"style="height: 500px" > <!-- style="height: 400px" -->
						<div>
							<table class="table">
								<thead class="thead-dark">
								<tr>
									<th scope="col">Dia</th>
									<th scope="col">Temperatura Máxima (ºC)</th>
									<th scope="col">Temperatura Mínima (ºC)</th>
									<th scope="col">Temperatura Média (ºC)</th>
									<th scope="col">Humidade Máxima (%)</th>
									<th scope="col">Humidade Mínima (%)</th>
									<th scope="col">Humidade Média (%)</th>
									<th scope="col">CO<sub>2</sub> Máximo (ppm)</th>
									<th scope="col">CO<sub>2</sub> Mínimo (ppm)</th>
									<th scope="col">CO<sub>2</sub> Médio (ppm)</th>
								</tr>
								</thead>
								<tbody id="corpoTabela">
								<!-- tabela:  -->
								<tr>
									<th scope="row">1</th>
									<td>18.1</td>
									<td>9.2</td>
									<td>13.65</td>
									<td>75</td>
									<td>52</td>
									<td>63.5</td>
									<td>1030.7</td>
									<td>1011.8</td>
									<td>1021.25</td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>18.1</td>
									<td>9.2</td>
									<td>13.65</td>
									<td>75</td>
									<td>52</td>
									<td>63.5</td>
									<td>1030.7</td>
									<td>1011.8</td>
									<td>1021.25</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>18.1</td>
									<td>9.2</td>
									<td>13.65</td>
									<td>75</td>
									<td>52</td>
									<td>63.5</td>
									<td>1030.7</td>
									<td>1011.8</td>
									<td>1021.25</td>
								</tr>
								<tr>
									<th scope="row">4</th>
									<td>18.1</td>
									<td>9.2</td>
									<td>13.65</td>
									<td>75</td>
									<td>52</td>
									<td>63.5</td>
									<td>1030.7</td>
									<td>1011.8</td>
									<td>1021.25</td>
								</tr>
								<tr>
									<th scope="row">5</th>
									<td>18.1</td>
									<td>9.2</td>
									<td>13.65</td>
									<td>75</td>
									<td>52</td>
									<td>63.5</td>
									<td>1030.7</td>
									<td>1011.8</td>
									<td>1021.25</td>
								</tr>
								<tr>
									<th scope="row">6</th>
									<td>18.1</td>
									<td>9.2</td>
									<td>13.65</td>
									<td>75</td>
									<td>52</td>
									<td>63.5</td>
									<td>1030.7</td>
									<td>1011.8</td>
									<td>1021.25</td>
								</tr>
								<tr>
									<th scope="row">7</th>
									<td>18.1</td>
									<td>9.2</td>
									<td>13.65</td>
									<td>75</td>
									<td>52</td>
									<td>63.5</td>
									<td>1030.7</td>
									<td>1011.8</td>
									<td>1021.25</td>
								</tr>
								<tr>
									<th scope="row">8</th>
									<td>18.1</td>
									<td>9.2</td>
									<td>13.65</td>
									<td>75</td>
									<td>52</td>
									<td>63.5</td>
									<td>1030.7</td>
									<td>1011.8</td>
									<td>1021.25</td>
								</tr>
								<tr>
									<th scope="row">9</th>
									<td>18.1</td>
									<td>9.2</td>
									<td>13.65</td>
									<td>75</td>
									<td>52</td>
									<td>63.5</td>
									<td>1030.7</td>
									<td>1011.8</td>
									<td>1021.25</td>
								</tr>
								<tr>
									<th scope="row">10</th>
									<td>18.1</td>
									<td>9.2</td>
									<td>13.65</td>
									<td>75</td>
									<td>52</td>
									<td>63.5</td>
									<td>1030.7</td>
									<td>1011.8</td>
									<td>1021.25</td>
								</tr>
								<tr>
									<th scope="row">11</th>
									<td>18.1</td>
									<td>9.2</td>
									<td>13.65</td>
									<td>75</td>
									<td>52</td>
									<td>63.5</td>
									<td>1030.7</td>
									<td>1011.8</td>
									<td>1021.25</td>
								</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div><!--/.row-->
		

		

	</div>	<!--/.main-->





	<!--<script src="js/jquery-1.11.1.min.js"></script>-->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/custom.js"></script>
	<script>
		window.onload = function () {
	var chart1 = document.getElementById("line-chart").getContext("2d");
	window.myLine = new Chart(chart1).Line(lineChartData, {
	responsive: true,
	scaleLineColor: "rgba(0,0,0,.2)",
	scaleGridLineColor: "rgba(0,0,0,.05)",
	scaleFontColor: "#c5c7cc"
	});
};
	</script>
		
</body>
</html>