<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Campus Monitoring | Espaços</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/datepicker3.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Espaços alimentares</div>
				<div class="panel-body">
					<form role="form">
						<fieldset>
							<div class="form-group">
								<label>Selecione o espaço sobre o qual pretende visualizar dados:</label>
								<select class="form-control">
									<option>Refeitório de Santiago</option>
									<option>Refeitório do Crasto</option>
									<option>Refeitório da ESTGA</option>
									<option>Snack-Bar / Self-Service</option>
									<option>Cafetaria da ESAN</option>
								</select>
							</div>
							<a href="board_santiago_worker.html" class="btn btn-primary">Escolher (worker)</a>
							<a href="board_santiago_admin.html" class="btn btn-primary">Escolher (admin)</a></fieldset>
					</form>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->	
	

<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
